<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="QuanLyPhongKhamPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <!-- Liệt kê TẤT CẢ các lớp Model (Entity) của bạn ở đây -->
    <!-- JPA cần biết những lớp nào tương ứng với các bảng trong CSDL -->
    <class>app.business.nguoidung.User</class>
    <class>app.business.nguoidung.BacSi</class>
    <class>app.business.nguoidung.BenhNhan</class>
    <class>app.business.nguoidung.QuanTriVien</class>
    <class>app.business.vatchat.Khoa</class>
    <class>app.business.vatchat.PhongKham</class>
    <class>app.business.giaodich.ThanhToan</class>
    <class>app.business.giaodich.HoaDon</class>
    <class>app.business.giaodich.LichHen</class>
    <class>app.business.vatchat.CaKham</class>
    <class>app.business.giaodich.ChatMessage</class>

    <!-- THÊM CÁC LỚP ENTITY KHÁC CỦA BẠN VÀO ĐÂY (VÍ DỤ: LichHen, CaKham...) -->
    <properties>
      <!-- Cấu hình kết nối đến Aiven Cloud cho JPA -->
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://mysql-1774ed16-nhathuy24092005-8d8f.c.aivencloud.com:11575/webkhambenh?sslmode=require"/>
      <property name="javax.persistence.jdbc.user" value="avnadmin"/>
      <property name="javax.persistence.jdbc.password" value="AVNS_GgWOk646RNw6Ae9wP_i"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <!-- (Tùy chọn) Thuộc tính này giúp EclipseLink không cố gắng tạo lại bảng -->
<!--      <property name="eclipselink.ddl-generation" value="none"/>-->

        <!-- (Tùy chọn) Thuộc tính này giúp EclipseLink tạo bảng neeys bảng chưa tồn tại -->
      <property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
      <property name="eclipselink.ddl-generation.output-mode" value="database"/>
 
    </properties>
  </persistence-unit>
</persistence>
